.produto-moda {
    background-color: #BB86FC;
    color: aliceblue;
    
}

.produto-casa {
    background-color: #00C4B4;
    color: aliceblue;
}

.valores-tabela {
    background-color: #424250;
    color: aliceblue;
}

